__pycache__/
*.pyc
venv/
gpt.pt
llvm.ll
asm.s
scratch_numba.py
linux-install-*.sh
sim.vvp
temp.*
test.*
test_runner.*
test_tb.v
docs/last_run.log
docs/test_data.*
optimized_true_gpt.so
optimized_true_gpt.v
optimized_true_gpt.clj
optimized_true_gpt.apl
optimized_true_gpt.wls
combined*
ngn-apl/
wipe_history.sh
*.profraw
*.profdata
*.o
pgo_train
pgo_driver.c
